body{
    font-family: Arial;
    text-align: center;
    background:#f4f4f4;
}

.job{
    background:white;
    margin:20px;
    padding:15px;
    border-radius:10px;
    box-shadow:0 0 5px gray;
}

button{
    background:green;
    color:white;
    border:none;
    padding:10px;
    cursor:pointer;
}